<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gnip.username" value=""/>
    <add key="gnip.password" value=""/>
    <add key="gnip.host" value=""/>
    <add key="gnip.publisherType" value="my"/>
    <add key="gnip.publisher" value=""/>
    <add key="gnip.requestTimeout" value="60000"/>
    <add key="gnip.readWriteTimeout" value="10000"/>
    <add key="gnip.idlemillis" value="0"/>
  </appSettings>
</configuration>