<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="gnip.username" value="rick@communikey.us"/>
    <add key="gnip.password" value="hydr0gen"/>
    <add key="gnip.host" value="https://review-v21.gnipcentral.com/"/>
    <add key="gnip.publisherType" value="my"/>
    <add key="gnip.publisher" value="hydrogen"/>
    <add key="gnip.requestTimeout" value="60000"/>
    <add key="gnip.readWriteTimeout" value="10000"/>
    <add key="gnip.idlemillis" value="0"/>
  </appSettings>
</configuration>
